# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
opencode.json
/aset dan desain/

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# docs
HepaTwin Draft Proposal GEMASTIK XIX 2026 Rev 2.md
HepaTwin_PRD.md
# Environment Variables
.env
.env.*
!.env.example
HepaTwin_Draft_Proposal_GEMASTIK_XIX_2026.md